<form [formGroup]="form">
  <div class="row p-0">
    <div class="mb-3 col-md-4">
      <label for="cep" class="form-label">CEP:</label>
      <input formControlName="cep" type="text"  class="form-control"  id="cep" placeholder="Digite o CEP" name="cep" required><br><br>
    </div>
    <div class="mb-3 col-md-7">
      <label for="logradouro" class="form-label">Logradouro:</label>
      <input formControlName="logradouro" type="text"  class="form-control"  id="logradouro" placeholder="Digite o Logradouro" name="logradouro" required><br><br>
    </div>
    <div class="mb-3 col-md-6">
      <label for="bairro" class="form-label">Bairro:</label>
      <input formControlName="bairro" type="text" class="form-control" id="bairro" placeholder="Digite o Bairro" name="bairro" required><br><br>
    </div>
    <div class="mb-3 col-md-4">
      <label for="cidade" class="form-label">Cidade:</label>
      <input formControlName="cidade" type="text"  class="form-control"  id="cidade" placeholder="Digite a Cidade" name="cidade" required><br><br>
    </div>
    <div class="mb-3 col-md-2">
      <label for="estado" class="form-label">estado:</label>
      <input formControlName="estado" type="text"  class="form-control"  id="estado" placeholder="Digite o Estado" name="estado" required><br><br>
    </div>
  </div>
</form>
